variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - pip install -r requirements.txt
    - python setup.py install

test:
  stage: test
  retry: 2
  script:
    - pip install -r requirements.txt
    - python setup.py test
    - coverage run setup.py test
    - coverage report -m

deployment:
  stage: deploy
  type: deploy
  environment: production
  script:
  - apt-get update
  - apt-get install sshpass
  - sshpass -p "$SSHPASS" ssh -o StrictHostKeyChecking=no -o PreferredAuthentications=password -tt $SERVER_USERNAME_AND_ADDRESS "cd keeping-track; git checkout master; git pull; docker-compose up --build --force-recreate -d; exit"
  only:
  - master

