version: '3.4'

services: 
    server:
        build: .
        volumes:
            - ./database:/server/database
        ports:
            - "5000:5000"  

    client:
        build: ./client
        ports:
            - "3000:3000"
        depends_on:
            - server
